
<%= link_to 'Login FB', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => new_message_url) %>
<%= paginate @messages %>

<ul>
<% @messages.each do |message| %>
  <li>
	<%= message.content %>
	<%= link_to 'delete', message_path(message), :method => :delete %>
    
   </li>
<% end %>
</ul>
 
<%= link_to 'new message', new_message_path %>