
<%= link_to 'Login FB', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => new_message_url) %>
<%= paginate @messages %>
<table board="1">
<% @messages.each do |message| %>
<% usrid = message.user_id %>
<% user = User.find(usrid) if usrid%>
	<tr>
		<td>
			<img src="<%= user.picture_url if usrid%>" />
		</td>
		<td>
			<a href="<%= user.link if usrid %>"><%= user.name if usrid%></a>
		</td>
   	</tr>
	<tr>
		<td>
			<%= message.content %>
		</td>

		<td>
			<%= link_to 'delete msg', message_path(message), :method => :delete %>
		<%if !message.response%>
			<%= link_to 'reply', new_message_response_path(message) %>
		<%end%>
		</td>
	</tr>
	<% if message.response%>
	<tr>
		<td>
			<%= message.response.content%>
		</td>
		<td>
			<%= link_to 'delete response', message.response, :method =>:delete%>
			<%= link_to 'edit response', edit_response_url(message.response)%>
		</td>
	</tr>
	<%end%>
  <% end %>
</table>

<%= link_to 'new message', new_message_path %>